<%- include("partials/header"); -%>

<!-- Product Banner -->
<div class="image-container" id="image-container">
  <img class="about-image" id="about-image" src="images/products-banner.jpg" alt="">
  <div class="about-title" id="about-title">Cavode Products</div>
  <p class="about-subtitle" id="about-subtitle">Find Israelite Apparel And Represent For Yah Today.</p>
</div>

<!-- Products Section -->
<section class="products-section">
  <h2>Featured Products</h2>
  <p>Cavode Collection</p>

  <!-- Product Overview -->
  <section>
    <div class="row">

      <!-- Daughter Of Zion -->
      <div class="product-column col-lg-6 col-md-6">
        <div class="product-item">
          <div class="">
            <a class="product-title-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35200764">
              <h5 class="product-title" alt="hebrew-israelite-women-shirts">Daughters of Zion</h5>
            </a>
          </div>
          <a href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35200764"><button type="button" id="myBtn" class="product-button">Shop Now</button></a>
          <a class="product-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35200764"><img class="product-image" src="images/virtuous-banner.jpg" alt=""></a>
        </div>
      </div>

      <!-- Hebrew Israelite Shirts -->
      <div class="product-column col-lg-6 col-md-6">
        <div class="product-item">
          <div class="">
            <a class="product-title-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35740946">
              <h5 class="product-title" alt="hebrew-israelite-shirts">Hebrew Israelite Shirts</h5>
            </a>
          </div>
          <a href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35740946"><button type="button" id="myBtn" class="product-button">Shop Now</button></a>
          <a class="product-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35740946"><img class="product-image" src="images/bcm-shirt.jpg" alt=""></a>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Family - Mispacha -->
      <div class="product-column col-lg-6 col-md-6">
        <div class="product-item">
          <div class="">
            <a class="product-title-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35200822">
              <h5 class="product-title" alt="hebrew-israelite-family-matching-shirts">Famiy - Mishpacha</h5>
            </a>
          </div>
          <a href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35200822"><button type="button" id="myBtn" class="product-button">Shop Now</button></a>
          <a class="product-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35200822"><img class="product-image" src="images/family.jpg" alt=""></a>
        </div>
      </div>

      <!-- Health Wealth Relatiions -->
      <div class="product-column col-lg-6 col-md-6">
        <div class="product-item">
          <div class="">
            <a class="product-title-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35201024">
              <h5 class="product-title" alt="black-hebrew-israelite-health-wealth-relationships-shirts">Health Wealth Relations</h5>
            </a>
          </div>
          <a href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35201024"><button type="button" id="myBtn" class="product-button">Shop Now</button></a>
          <a class="product-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35201024"><img class="product-image" src="images/supportBlack.jpg" alt=""></a>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Hoodies/Sweaters -->
      <div class="product-column col-lg-6 col-md-6">
        <div class="product-item">
          <div class="">
            <a class="product-title-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35845964">
              <h5 class="product-title" alt="hebrew-israelite-hoodies-sweaters-sweatshirts">Hoodies/Sweaters</h5>
            </a>
          </div>
          <a href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35845964"><button type="button" id="myBtn" class="product-button">Shop Now</button></a>
          <a class="product-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35845964"><img class="product-image" src="images/bcm-hoodie.jpg" alt=""></a>
        </div>
      </div>

      <!-- Feast Days - Moedim -->
      <div class="product-column col-lg-6 col-md-6">
        <div class="product-item">
          <div class="">
            <a class="product-title-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35922999">
              <h5 class="product-title" alt="hebrew-israelite-feast-days-shirts">Feast Days - Moedim</h5>
            </a>
          </div>
          <a href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35922999"><button type="button" id="myBtn" class="product-button">Shop Now</button></a>
          <a class="product-link" href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav&section_id=35922999"><img class="product-image" src="images/feastDays.jpg" alt=""></a>
        </div>
      </div>
    </div>

  </section>

  <!-- Call To Action -->
  <section class="mission-section">
    <div class="mission-container">
      <h2 class="mission-statement">Find Israelite Apparel and Represent for Yah today.</h2>
      <a href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav"><button id="myBtn" class="cta-button">Shop Now</button></a>
    </div>
  </section>

</section>

<%- include("partials/footer"); -%>
