<%- include("partials/header"); -%>

<!-- Submitted Banner -->
<div class="image-container">
  <img class="about-image" src="images/submitted.jpg" alt="">
  <div class="about-title">Form Submitted!</div>
  <p class="about-subtitle">Thank you for your feedback. We will contact you soon!</p>
</div>
