<%- include("partials/header"); -%>

<!-- Success Banner -->
<div class="image-container">
  <img class="about-image" src="images/success.jpg" alt="">
  <div class="about-title">Success!</div>
  <p class="about-subtitle">Now check your email to receive your 20% Coupon.</p>
</div>
