<%- include("partials/header"); -%>

<!-- Why Cavode Banner -->
<div class="image-container">
  <img class="about-image" src="images/israel-sunset.jpg" alt="">
  <div class="about-title">Why Cavode?</div>
  <p class="about-subtitle">Find Your Preferred Hebrew Israelite Apparel.</p>
</div>

<!-- Why Cavode Details -->
<div class="about-section products-section">
  <img src="images/hebrew-docs-3.jpg" alt="">
  <div class="about-container">
    <h2>What We Believe</h2>
    <p>Our brand is dedicated to make apparel that uplifts & empowers our
      community, through peace and love for everybody. Cavode is Hebrew,
      defined as: Abundance, Honor, Glory, Splendor, and Wealth. All the
      attributes that personifies the black community. This brand was created
      when we were shopping for clothes that truly represented our spirit as
      Yah's children, but we could not find the variety that we were looking
      for. To solve that problem, we created a Hebrew Israelite Clothing Line.
      A Brand that's for all who want to spread the message of positivity.
      The positivity of health, wealth, relationships, love, faith, & happiness.
      All Praise to the Most High Yah through Yahusha Hamashiach(Jesus Christ)!
      Peace, Blessings, & Shalom!</p>
    <p>Cavode - Styled In Legacy</p>
  </div>
</div>

<!-- Features -->
<section class="features" id="features">
  <div class="container">
    <div class="row">
      <div class="feature-box col-lg-4 col-md-6">
        <i class="icon fa-solid fa-award fa-4x"></i>
        <h3 class="feature-title">Only the Highest Quality </h3>
        <p>Solid Colors are 100% Cotton, <br>made with comfortable,
          <br>durable, ring-spun cotton. <br>At Cavode, we make sure that
          <br>only the highest qualiy materials <br>are use in our products
        </p>
      </div>

      <div class="feature-box col-lg-4 col-md-6">
        <i class="icon fa-solid fa-pen-clip fa-4x"></i>
        <h3 class="feature-title">We Write Hebrew</h3>
        <p>We make apparel b'Ivrit - in Hebrew: <br>Pictographic -
          Proto-Sinaitic,<br>Paleo - Ancient Hebrew,<br>Modern - Aramaic Square,
          <br>With the option of the Niqqud:<br>Vowel Pointings created
          <br>by the Masoretes in Tiberias.<br>
        </p>
      </div>

      <div class="feature-box col-lg-4 col-md-6">
        <i class="icon fa-solid fa-thumbs-up fa-4x"></i>
        <h3 class="feature-title">We Sew Fringes</h3>
        <p>Have the option of Bullion Fringes <br>with a Border of Blue Ribbon,
          <br>sewed onto your shirt. Our <br>Fringes & Ribbon are 100%
          Polyester, <br>abiding by Deuteronomy 22:11.
        </p>
      </div>

      <div class="feature-box col-lg-4 col-md-6">
        <i class="icon fa-solid fa-tag fa-4x"></i>
        <h3 class="feature-title">Always Low Prices</h3>
        <p>We offer affordable, <br>excellent prices & deals. <br>No matter
          what your <br>budget is like.</p>
      </div>

      <div class="feature-box col-lg-4 col-md-6">
        <i class="icon fa-solid fa-hand-back-fist fa-4x"></i>
        <h3 class="feature-title">Black Owned</h3>
        <p>We are proudly Black <br>and we are proudly Israelite. <br>We are
          based in California <br>and we really live by Torah. <br>So that we
          love Yah first, <br>and we love our neighbor <br> by showing love to
          all people.</p>
      </div>

      <div class="feature-box col-lg-4 col-md-6">
        <i class="icon fa-solid fa-menorah fa-4x"></i>
        <h3 class="feature-title">Feast Day Fitted</h3>
        <p>We make sure that you<br>will have hebrew drip<br> for the coming
          Moedim <br>"The Appointed Times."</p>
      </div>
    </div>
</section>

<!-- Testimonials -->
<section id="testimonials" class="testimonials bg-white bg-img bg-img-attachment" style="background-image: url(/images/YHWH-Paleo-Testimonial-Image.jpg);;">
  <div class="testimonial-container">
    <h2 class="testimonial-title">5-Star Customer Reviews</h2>
    <div class="row slider slick initialized slick-slider slick-dotted">

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">I really love this product</h4>
          <p class="details-review">This shirt came in the mail, and looks better than I thought it would. I really love this product and would like to see more products od this nature.</p>
          <p class="details-date">Shane Christian - Nov 10, 2021</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">Fast and exact</h4>
          <p class="details-review">Fast and exactly as expected. Would order from this shop again.</p>
          <p class="details-date">Sue Donatell - Nov 30, 2021</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">Would Recommend</h4>
          <p class="details-review">Item as described. Customer service was personable and professional. Would recommend!</p>
          <p class="details-date">Jessica Melendez - Dec 18, 2021</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">She Loves It</h4>
          <p class="details-review">purchased this as a Christmas gift for my sister and she loved it.</p>
          <p class="details-date">Asha Grimes - Dec 28, 2021</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">Designed The Shirt Perfectly</h4>
          <p class="details-review">Designed the shirt perfectly. Great quality of shirt. Will purchase more items from this shop.</p>
          <p class="details-date">Maria Griffin - Jan 8, 2022</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">Perfect Fit</h4>
          <p class="details-review">I love this hoodie. Perfect fit.</p>
          <p class="details-date">Michael Harrison - Jan 16, 2022</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">Enjoyed Talking To The Owner</h4>
          <p class="details-review">Great shirts felt amazing the owner Jaydon is a good man I enjoyed talking to him please buy cause he is a trusted brethren.</p>
          <p class="details-date">Shahmah Ahni - March 16, 2022</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">Very Helpful</h4>
          <p class="details-review">Purim shirt is beautiful! Jaydon was very helpful in answering the questions that I had and in a timely manner.</p>
          <p class="details-date">Wendy Chase - March 24, 2022</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">Writings On Point</h4>
          <p class="details-review">love the jumper, the writings on point, get yours family, we got next 12 tribes of YHWH, APTTMHY</p>
          <p class="details-date">Addis Haile - April 4, 2022</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">Great Hoodie</h4>
          <p class="details-review">Great hoodie, good quality!APTTMH</p>
          <p class="details-date">Baraka Grier - April 30, 2022</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="details">
          <div class="testimonial-stars">
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
            <i class="star fa-solid fa-star"></i>
          </div>
          <h4 class="details-title">Very nice shirt</h4>
          <p class="details-review">Very nice shirt! We are mailing this to a man in Uganda who is running an orphanage for Yah!</p>
          <p class="details-date">Brianna Martin - Jun 9, 2022</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call To Action -->
<section class="mission-section">
  <div class="mission-container">
    <h2 class="mission-statement">Find Israelite Apparel and Represent for Yah today.</h2>
    <a href="https://www.etsy.com/shop/Cavode?ref=seller-platform-mcnav"><button id="myBtn" class="cta-button">Shop Now</button></a>
  </div>
</section>

<%- include("partials/footer"); -%>
