/* Contact Us Page*/

.contact-section {
  padding-bottom: 80px;
}

.form-control {
  background-color: #f7f7f7;
}

.opening-times-note {
  color: #878787;
  margin: 0;
  padding: 0;
}
